// colores 
$background : #202342;
$orange : #FE7448;
$white : #fff;
$child-background : #2B2F55;
$Dowanload : #1EC1C3;
$Renew : #01A9F4;
$red : #EC4165;
$notfication : #2D325A;
$fontnotfication : #6F7291;
$stroke : #3D447B;
$icones : #63F4F7;